<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="assets/images/ilustracao_titulo02.png" width="50%" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 purple-box py-5">
            <div class="container" *ngIf="!registeredPassword; else isRegistered">
                <p class="text-center text-white">Crie uma nova senha:</p>

                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <div class="row mb-3">
                        <div class="col-12 col-md-4 offset-md-4 border-rounded bg-white">
                            <mat-form-field color="primary" class="text-center" floatLabel="never" class="d-block border-correction text-center">
                                <input matInput placeholder="Senha" formControlName="password" [type]="hideP1 ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="hideP1 = !hideP1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP1">
                                    <mat-icon color="primary">{{hideP1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-12 col-md-4 offset-md-4 border-rounded bg-white">
                            <mat-form-field color="primary" class="text-center" floatLabel="never" class="d-block border-correction text-center">
                                <input matInput placeholder="Repita sua nova senha" formControlName="passwordTwo" [type]="hideP2 ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="hideP2 = !hideP2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP2">
                                    <mat-icon color="primary">{{hideP2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <button type="submit" mat-flat-button color="accent" class="border-rounded button-size">Avançar</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-white text-center">
                            <small class="cursor" [routerLink]="['/firstAccess']">Reenviar senha temporária</small>
                        </div>
                    </div>
                </form>

            </div>
            <ng-template #isRegistered>
                <div class="container">
                    <div class="text-center">
                        <p class="text-white mb-0">Senha cadastrada com sucesso!</p>
                        <p class="text-white">Clique em avançar para prosseguir</p>
                        <button type="button" mat-flat-button color="accent" class="border-rounded button-size">Avançar</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>