<div class="container">
    <div class="row">
        <div class="d-none d-md-block col-md-2 footer-image"></div>

        <div class="col-12 col-md-10 background-yellow p-5">
            <h1 class="text-white font-weight-normal mb-4">Sobre a Chubb</h1>

            <p class="text-white">A Chubb é a maior seguradora de propriedade e responsabilidade civil de capital aberto do mundo, Operando em 54 países, fornece seguros de propriedade e responsabilidade civil empresariais e pessoais, seguros de acidentes pessoais e saúde suplementar, resseguros e seguros de vida, a um grupo diversificado de clientes.</p>

            <button mat-flat-button class="button-green text-white">Saiba mais <fa-icon [icon]="['fas', 'caret-right']"></fa-icon></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 background-grey p-5">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-3 mb-md-0 text-center text-md-left">
                        <div class="d-inline-flex text-white">
                            <fa-icon class="cursor px-2 py-1 mr-2 box box-youtube" [icon]="['fab', 'youtube']"></fa-icon>
                            <fa-icon class="cursor px-2 py-1 mr-2 box box-linkedin" [icon]="['fab', 'linkedin-in']"></fa-icon>
                            <fa-icon class="cursor px-2 py-1 mr-2 box box-twitter" [icon]="['fab', 'twitter']"></fa-icon>
                            <fa-icon class="cursor px-2 py-1 mr-2 box box-instagram" [icon]="['fab', 'instagram']"></fa-icon>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 offset-md-4 float-right border-rounded bg-white">
                        <mat-form-field color="primary" class="text-center" floatLabel="never" class="d-block border-correction text-center">
                            <mat-select [formControl]="language">
                                <mat-option value="Brazil">Brazil</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-auto text-center text-left-md">
                        <span class="min-text">© 2020 Chubb</span>
                    </div>
                    <div class="col-12 col-md-auto text-center text-left-md">
                        <a class="min-text cursor">Politica de privacidade da Chubb</a>
                    </div>
                    <div class="col-12 col-md-auto text-center text-left-md">
                        <a class="min-text cursor">Aceitação dos termos</a>
                    </div>
                    <div class="col-12 col-md-auto text-center text-left-md">
                        <a class="min-text cursor">Informações sobre licenciamento</a>
                    </div>
                    <div class="col-12 col-md-auto text-center text-left-md">
                        <a class="min-text cursor">Sitemap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>