<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="assets/images/ilustracao_titulo02.png" width="50%" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 purple-box py-5">
            <div class="container" *ngIf="!nextStep; else messageStep">
                <p class="text-center text-white">Informe seu cpf e email para iniciarmos seu cadastro:</p>

                <form [formGroup]="firstAccessForm" (ngSubmit)="onSubmit()">
                    <div class="row mb-3">
                        <div class="col-12 col-md-4 offset-md-4 border-rounded bg-white">
                            <mat-form-field color="primary" class="text-center" floatLabel="never" class="d-block border-correction text-center">
                                <input matInput placeholder="CPF" formControlName="cpf" maxlength="14" cpfMask>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-12 col-md-4 offset-md-4 border-rounded bg-white">
                            <mat-form-field color="primary" class="text-center" floatLabel="never" class="d-block border-correction text-center">
                                <input matInput placeholder="Email" formControlName="email">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 text-center">
                            <button type="submit" mat-flat-button color="accent" class="border-rounded button-size">Avançar</button>
                        </div>
                    </div>
                </form>

            </div>
            <ng-template #messageStep>
                <div class="container">
                    <p class="text-center text-white">Um e-mail foi enviado com sua senha temporária(será necessário alterar após o login):</p>

                    <div class="row mb-3">
                        <div class="col-12 text-center">
                            <button type="submit" mat-flat-button color="accent" class="border-rounded button-size" [routerLink]="['/']">Avançar</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>